<!DOCTYPE html>
<html lang="en">
<html>
<style>
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 하이루! 우린 6조</title>
    <link rel="stylesheet" type="text/css" href="../static/main_styles.css">
</head>

<body>
    <div class="cover">
        <div class="container">
            <div class="profile">
                <div class="name">육켄두잇
                    <div>
                        <img class="main_image" src="../static/image/main.jpeg" alt="미니룸 단체사진">
                    </div>  
                </div>
                
                
                <div class="exp">
                    <ul>
                        <li><a href="https://yogidogi11.tistory.com/">👾은지의 블로그👾</a></li>
                        <li><a href="https://skarbcoding.tistory.com/">🌠남규의 블로그🌠</a></li>
                        <li><a href="https://pom909.tistory.com/">✦정은의 블로그✦</a></li>
                        <li><a href="https://heesohee.tistory.com/">💜소희의 블로그💜</a></li>
                    </ul>
                </div>
                <div class="history">
                    NOW PLAYING<br>
                    <div class="music">
                        <div class="musicname">Y</div>
                        <div class="artist"> - 프리스타일</div>
                    </div>
                </div>
            </div>
            <div class="page">
                <div class="news">
                    <div class="title">6조를 소개합니댜</div>
                    <ul style="font-size: 16px">
                        <li>우리 팀만의 특징과 추구하는 궁극적인 목표: <br>
                            개발에 대한 뜨거운 열정으로 똘똘뭉친 네사람! 저희에게 가장 중요한 것은 아무래도 협업과 소통 아닐까요?<br></li>
                        <li>우리 팀의 약속<br>
                            1. 팀원들의 의견을 긍정적으로 받아들이기<br>
                            2. 솔직하게 피드백해주되 상처받지 않는 화법으로 말하기<br>
                            3. 시간약속엄수<br>
                            4. 혼자서 끙끙대지 말고 어려운 부분은 주저 없이 이야기하기!</li>
                    </ul>
                </div>
                <div class="room">
                    <div class="title">미니룸</div>
                    <div>
                        <img class="miniroom" src="../static/image/every.png" alt="미니룸 단체사진">
                    </div>
                </div>
                <div class="friends">
                    <div class="title">What to do</div>
                    <li>
                        GIT 공부하기
                    </li>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="index">
        <button class="home" onclick="window.location.href = '/'">홈</button>
        <button class="eunji" onclick="window.location.href = '/eunji'">은지</button>
        <button class="namgyu" onclick="window.location.href = '/namgyu'">남규</button>
        <button class="jeongeun" onclick="window.location.href = '/jeongeun'">정은</button>
        <button class="sohee" onclick="window.location.href = '/sohee'">소희</button>
    </div>
    
</body>

</html>